<mat-card>
    <mat-spinner *ngIf = "isLoading"></mat-spinner>
    <form (submit) = "onSavePost(formPost)" #formPost="ngForm" *ngIf = "!isLoading">
        <mat-form-field>
            <input 
            matInput 
            type="text" 
            name="title"
            [ngModel] = post?.title
            minlength="3"
            required
            placeholder="Post Title"
            #title = "ngModel"
            >
            <mat-error *ngIf="title.invalid">Please enter the title!</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
            matInput 
            rows="5"
            name="content"
            [ngModel] = post?.content
            required
            placeholder="Post Content"
            #content = "ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please enter the content!</mat-error>
        </mat-form-field>
        <div>
            <button 
            mat-raised-button 
            color = "primary" 
            type="submit">Add post</button>
        </div>
    </form>
</mat-card>
