<mat-card>
    <form (submit) = "onAddPost(formPost)" #formPost="ngForm">
        <mat-form-field>
            <input 
            matInput 
            type="text" 
            name="title"
            ngModel
            minlength="3"
            required
            #title = "ngModel"
            >
            <mat-error *ngIf="title.invalid">Please enter the title!</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
            matInput 
            rows="5"
            name="content"
            ngModel
            required
            #content = "ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please enter the content!</mat-error>
        </mat-form-field>
        <div>
            <button 
            mat-raised-button 
            color = "primary" 
            type="submit">click me</button>
        </div>
    </form>
</mat-card>
